*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.searchbar{
    text-align: center;
}

.searchbar input{
    cursor: pointer;
    font-size: larger;
    width: 60%;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
}

nav a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(224, 215, 215);
    text-decoration-line: none;
    text-transform: uppercase;
}
nav img{
    height: 25px;
    width: 100px;
    
}
ul,a{
    display: inline;
    padding: 10px;
}

ul{
    padding: 40px;
    width: auto;
}

a:hover{
    color: gold
}

.poster img{
    width: 100%;
    height: 10%;
}
.poster p{
    color: white;
    font-size: large;
    font-display: inherit;
}

.poster2{
    text-align: center;
}
.poster2 img{
    width: 40%;
    height: auto;
    display: inline;
}
.poster2 p{
    color: white;
    font-size: large;
}

.youtube {
    display: inline;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px; /* Space between the iframes */
    padding: 10px; /* Optional: add padding inside the container */
    width: 100%;
    scroll-snap-type: x mandatory;
}

.youtube iframe {
    width: 400px;
    padding: 4px;
    height: 315px;
    flex-shrink: 0; /* Prevent iframes from shrinking */
    scroll-snap-align: start;
}

footer{
    text-align: center;
    background-color: rgb(53, 52, 52);
    color: ghostwhite;
}