*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(repic.png);
    background-repeat: no-repeat; /* This ensures the image doesn't repeat */
    background-size: cover; /* This will make the image cover the entire screen */
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}

nav a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(224, 215, 215);
    text-decoration-line: none;
    text-transform: uppercase;
    display: inline;
}
nav img{
    height: 25px;
    width: 100px;
}
ul,a{
    display: inline;
    padding: 10px;
}
ul{
    padding: 40px;
    width: auto;
}
a:hover{
    color: gold
}

.head{
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
}
table{
    color: black;
    background-color: white;
    border-spacing: 10px;
}
input {
    padding: 10px; /* Adds some padding inside the input field */
}

input::placeholder {
    font-size: 18px; /* Adjust the font size of the placeholder */
    color: #aaa; /* Optional: change the color of the placeholder */
}

footer{
    text-align: center;
    background-color: rgb(53, 52, 52);
    color: ghostwhite;
}